@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap');
:root{
    --fooderGrey:#E6E7E8;
    --fooderGreen:#183A1D;
    --fooderOren:#FC7300;
    --fooderLightGreen:#E1EEDD;
}
body{
    background-color: var(--fooderGrey);
    padding: 0;
    margin: 0;
    min-height: 100vh;
    font-family: 'Titillium Web', sans-serif;
    line-height: 1;
}
p{
    margin: 0;
}
.main{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    
}
.container{
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 0;
    width: 375px;
    height: 100%;
    background-color: white;
    transition: 300ms;
}
.element100{
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    padding: 10px 20px;

}
.element100 p{
    margin: 0;
}
.inputText100Container{
    width: 100%;
    height: 40px;
    border-color: var(--fooderGreen);
    border-radius: 10px;
    box-sizing: border-box;
    border-style: solid ;
    border-width: 1px;
    background: var(--fooderLightGreen);
}
.inputText100{
    width: 100%;
    height: 100%;
    border: none;
    box-sizing: border-box;
    background: none;
}
.inputText100:focus{
    outline: none;
}
.feedContainer{
    width: 150px;
    height:150px;
    min-width: 150px;
    min-height:150px;
    background-color: var(--fooderGreen); 
    border-radius: 10px;
    margin-right: 35px;
}
.selectMerchant{
    cursor: pointer;
    width: auto;
    white-space: nowrap;
    height:30px;
    background-color: var(--fooderLightGreen); 
    border-radius: 7.5px;
    margin-right: 10px;
    box-sizing: border-box;
    padding: 5px;
}
#bannerSroll2::-webkit-scrollbar{
    display: none !important;
}
#bannerSroll2:active{
    cursor: grabbing;
    transform: scale(1);
}
.product100{
    display: flex;
    justify-content: space-between;
    height: 100px;
    border: solid 1px var(--fooderGreen);
    border-radius: 10px;
}
.productDesc{
    display: flex; 
    flex-direction: column; 
    justify-content: space-around;
    font-size: 16px;
    padding: 10px;
}
.productViewer{
    display: flex;
    flex-direction: column;
    
    height: 100%;
}
.floatMenuContainer{
    opacity: 1;
    z-index: 10;
    position: fixed;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    transition: 300ms;
}
.floatMenuContainerHidden{
    opacity: 0;
    position: fixed;
    z-index: -5;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    transition: 300ms;
}
.floatMenu{
    position: absolute;
    bottom: 0;
    background-color: white;
    height: 50%;
    width: 100%;
}
.foldedMenu{
    width: 100%; 
    height: auto;
    display: flex; 
    overflow-x:scroll; 
    position: relative;
    scroll-behavior: smooth;
    user-select: none; 
    box-sizing: border-box; 
    margin: 0 5px;
}
.floatMenuMerchant:active{
    background-color: #FC7300;
}
.selectMerchant:active {
    background-color: var(--fooderGreen);
    color: var(--fooderGrey);
}